meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='description', content=project_description)
meta(name='robots' content='index,follow,noodp')
meta(name='googlebot' content='index,follow')

meta(property='og:url' content=app_url)
meta(property='og:type' content='website')
meta(property='og:title' content=project_name)
meta(property='og:image' content=app_logo)
meta(property='og:description' content=project_description)
meta(property='og:site_name' content=project_name)

meta(name='twitter:card' content='summary')
meta(name='twitter:creator' content='@stefanbc')
meta(name='twitter:url' content=app_url)
meta(name='twitter:title' content=project_name)
meta(name='twitter:description' content=project_description)
meta(name='twitter:image' content=app_logo)

meta(itemprop='name' content=project_name)
meta(itemprop='description' content=project_description)
meta(itemprop='image' content=app_logo)